@import 'bootstrap/dist/css/bootstrap.min.css';
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    width:50%;
    margin-top: 20px;
    height:350px;
}
span{
    color: aliceblue;
}
button{
    margin-top:5px;
}
input{
    padding:5px;
}
table{
    margin-top: 10px;
}
tr,th{
    color: aliceblue;
}